body{

}

.form-control{
padding: 1px 18px;
background-color: #f3f3f3;
}

td{
line-height :2.5;
}

.navbar-default .navbar-brand {
font-size: 30px;
margin-bottom: 10;
margin-top: -5;
padding:5px 15px;
height: 50px;
}

.navbar-collapse .collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 15px;
    overflow: visible !important;
height: 50px;
}


.modal-dialog{
right : auto;
left : auto;
}

.signupbutton {
	width: 100% !important;
}
h1 {
	font-family = sanserif;
	padding-bottom = 50px;
	font-weight : bold
}

body {
	margin-left: 0px;
	margin-top: 0px;
}
.style1 {
	color: #FFFFFF;
	font-weight: bold;
}
.style2 {
	color: #990000;
	font-weight: bold;
	font-size:25px
}
.style4 {
	color: #000000;
	font-weight: bold;
}
.style5 {color: #990033}
.style6 {color: #ECE9D8}
.style7 {
	color: #993300;
	font-weight: bold;
}
.style8 {
	color: #6633CC;
	font-weight: bold;
	font-size:20px;

	
}

body {
background: url("../assets/img/backgrounds/big/9321admin.jpg");

}
.table>tbody>tr>td, s{
    padding: 8px;
    line-height: 2.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;}

.style8 td{
	color: #030303;
	font-weight: bold;
	line-height: 2.5px;
	
}

a:link {
	color: #330066;
	text-decoration: none;
}
a:hover {
	color: #FFCC00;
	text-decoration: underline;
}
a:visited {
	color: #330066;
	text-decoration: none;
}
.head1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #FF0000;
	text-align: center;
	font-weight: bold;
}
.errors {

	color: #FF0000;
	font-weight: bold;
}
.tot {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
}
.tot {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
	
}
.tans {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color:#00CC66 ;
}
.fans {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color:#FF0000 ;
}
